/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

/****** Header ***********/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lien {
    display: flex;
    gap: 40px;
}

#lien a {
    padding: 16px 8px 16px 8px;
}

#lien a:hover,
#lien a:focus,
#lien a:active {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

#logo {
    width: 61px;
    height: 19px;
    padding: 16px 8px
}

body {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 22px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Search section ***********/
.search {
    margin-top: 30px;
    margin-bottom: 30px;
}

.search h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.search-bar {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid var(--main-bg-color);
    max-width: 400px;
    height: 49px;
}

.search-bar i {
    background-color: var(--main-bg-color);
    padding: 15px;
    display: flex;
    justify-content: center;
    height: 100%;
    color: black;
}

.search-bar input {
    border: none;
    padding: 15px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

input::placeholder {
    color: black;
}

.search-bar button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 15px 20px;
    font-weight: bold;
    cursor: pointer;
}



.filters {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.filters span {
    font-weight: 700;
}

.filters button {
    background-color: white;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 10px 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    height: 50px;
    font-size: 17px;
}

.filters button:hover {
    background-color: var(--filter-bg-color);
}

.search-btn i {
    display: none;
}

.search-btn span {
    display: inline;
    font-size: 18px;
}

.info-search {
    display: flex;
}

.info-circle {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-size: 12px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Hébergements Cards ***********/
.hébergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
}

.hébergements-cards .card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hébergements-cards img {
    height: 120px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hébergements-cards .card-content {
    padding: 0 10px 10px;
}

.afficher-plus {
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activities {
    margin-top: 40px;
    margin-bottom: 40px;
}

.activité-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 20px;
}

.activité-cards .card {
    padding: 0;
    overflow: hidden;
}

.activité-cards img {
    height: 380px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activité-cards .card-content {
    padding: 15px;
}

/****** Footer ***********/
footer {
    background-color: var(--main-bg-color);
    padding: 40px 0 40px 40px;
    margin-top: 40px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-columns div {
    flex: 1;
    min-width: 150px;
}

footer h4 {
    margin-bottom: 15px;
    font-size: 18px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 10px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body,
    main,
    footer,
    .main-container {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .main-container {
        padding: 0;
    }

    .header {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #lien {
        width: 100%;
        justify-content: space-around;
        border-top: 1px solid #f2f2f2;
    }

    #lien a {
        width: 50%;
        text-align: center;
        padding: 15px 0;
        border-top: 0px;
    }

    #lien a:hover {
        border-bottom: 2px solid var(--main-color);
        border-top: none;
    }

    .search-bar {
        flex-direction: row;
        border-radius: 15px;
        overflow: hidden;
    }

    .filters {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
    }

    .filters span {
        width: 100%;
        font-weight: bold;
        font-size: 16px;
    }

    .filters button {
        flex: 1 1 45%;
        min-width: 140px;
        max-width: 48%;
        font-size: 14px;
        padding: 10px 8px;
        text-align: center;
        border-radius: 25px;
        border: 2px solid #dcdcdc;
        background-color: white;
        height: 50px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
    }

    .hebergements-and-populaires .populaires {
        order: -1;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 0;
        margin-top: 0px;
    }

    .hebergements-and-populaires .hebergements {
        width: 100%;
        background-color: white;
    }

    .hébergements-cards {
        grid-template-columns: 1fr;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .footer-columns {
        flex-direction: column;
        gap: 30px;
        padding-left: 30px;
        margin-top: -20px;
    }

    .search {
        padding-left: 20px;
        padding-right: 20px;
    }

    .search-btn i {
        display: flex;
        color: #FFFFFF;
        background-color: var(--main-color);
        font-size: 18px;
    }

    .search-bar button {
        display: flex;
        width: 49px;
        height: 49px;
        padding: 15px 16px;
        justify-content: center;
        align-items: center;
    }

    .search-bar input {
        text-align: left;
    }

    .search-btn span {
        display: none;
    }

    .activité-cards {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .activité-cards .card {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    .activité-cards img {
        width: 100%;
        height: 120px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activité-cards .card-content {
        padding: 10px;
    }

    .activité-cards .card-title {
        font-size: 16px;
    }

    .activities {
        padding: 30px;
        margin-top: -20px;
    }

}